* {
    margin: 0;
    font-family: sans-serif;
}

.Box {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 438.9px;
    height: 732.56px;
    top: 431px;
    left: 501px;
    gap: 0px;
    border-radius: 21.2px ;
    opacity: 0px;
    border: 2.12px solid #000000
}